// button
@use '../variables/colors';
@use '../general/typography';

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.on {
	color: colors.$primary-red;
}

.off {
	color: colors.$primary-white;
}

.button {
	font-family: typography.$font-headings;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 0.1em;

	// padding: 1.125rem 3rem 1.375rem 3rem;
	padding: 1.125rem 3rem 1.4rem 2.7rem;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
}

.button--small {
	background-color: colors.$primary-black;
	background-image: url('../images/buttons/button-red.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	text-align: center;
	font-size: 1rem;
	color: colors.$primary-white;

	&:hover {
		background-image: url('../images/buttons/button-white.png');
		color: colors.$primary-black;
	}

	&:active {
		background-image: url('../images/buttons/button-grey.png');
		color: colors.$primary-black;
	}
}

.button--wide {
	background-color: colors.$primary-black;
	background-image: url('../images/buttons/button-long-yellow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 20rem;
	padding: 1rem 2rem;
	text-align: left;
	border-right: 3px solid colors.$primary-red;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:hover {
		color: colors.$primary-red;
	}

	&:active {
		color: colors.$primary-grey;
	}
}

.button--primary {
	background-color: colors.$primary-black;
	background-image: url('../images/buttons/button-red.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	color: colors.$primary-white;

	&:hover {
		background-image: url('../images/buttons/button-white.png');
		color: colors.$primary-black;
	}

	&:active {
		background-image: url('../images/buttons/button-grey.png');
		color: colors.$primary-black;
	}
}

.button--secondary {
	font-size: 1rem;
	@include typography.small-text;
	background-color: colors.$primary-black;
	background-image: url('../images/buttons/button-blue.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: colors.$primary-white;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;

	&:hover {
		background-image: url('../images/buttons/button-white.png');
		color: colors.$primary-black;
	}

	&:active {
		background-image: url('../images/buttons/button-grey.png');
		color: colors.$primary-black;
	}

	// &:hover {
	// 	background-color: colors.$primary-50;
	// }

	// &:active {
	// 	border: none;
	// 	background-color: colors.$primary-300;
	// }

	// &:focus {
	// 	background-color: none;
	// 	border: dashed 2px colors.$primary-200;
	// 	stroke-dasharray: 10;
	// }
}

.button--tertiery {
	&:hover {
		border-bottom: 2px dashed colors.$primary-blue;
	}

	&:active::after {
		border-bottom: 2px dashed;
	}

	&:focus {
		// border: dashed 2px colors.$white;
		stroke-dasharray: 10;
	}
}

.button--steam {
	background-image: url('../images/buttons/Login/steam-login.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

.button--google {
	background-image: url('../images/buttons/Login/google-buttons/1x/btn_google_signin_dark_normal_web.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

.button--plus {
	cursor: pointer;
	color: black;
	padding: 0.3rem;
	height: 2rem;
	background-color: colors.$primary-yellow;
	border-left: 2px solid colors.$primary-red;
	border-bottom: 2px solid colors.$primary-red;

	&:hover {
		background-color: white;
	}
}
