// feed
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.main-content--container {
	display: flex;
	// position: absolute;
	z-index: 1;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	// height: 100vh;

	.main-content {
		@media (min-width: responsive.$screen-large) {
			width: 85%;
			margin: 0 auto;
			margin-top: 4rem;
		}
		margin-top: 4rem;
		padding: 1rem;
		width: 80%;
		z-index: 3;
	}
}
.header--divider {
	width: 100%;
	background-color: colors.$secondary-blue;
	border: 1px solid colors.$primary-blue;
	padding: 1rem;
}
