// gamecard
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.game-feed {
	padding-top: 2rem;
	display: flex;
	gap: 2rem;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;

	.game-card {
		@media (min-width: responsive.$screen-large) {
			width: 15%;
		}
		@media (min-width: responsive.$screen-medium) {
			width: 30%;
		}
		width: 50%;
		padding: 0;
		gap: 1rem;
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.game-card--image {
			width: 100%;
			display: block;
			justify-content: center;
			align-items: center;

			img {
				max-height: 100%;
				width: 100%;
				max-width: 100%;
			}
		}

		.game-card--title {
			width: 65%;
			padding-left: 1rem;
		}
	}
}

.game-card-table {
	@media (min-width: responsive.$screen-large) {
		// width: 25%;
	}
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
	// background-color: colors.$secondary-blue;
	margin-bottom: 1rem;
	padding: 0;
	gap: 2rem;
	border: 2px solid colors.$primary-yellow;
	border-right: 2px solid colors.$primary-red;
	// border-radius: 20px 20px 20px 20px;

	.cross--container {
		padding-top: 1rem;
		margin-right: 1rem;
		display: flex;
		// justify-content: center;
		// align-items: center;
		.cross {
			font-size: 1rem;
			cursor: pointer;

			&:hover {
				color: colors.$primary-red;
			}
		}
	}

	.button--small {
		text-align: left;
		justify-content: left;
	}

	.game-card-table--title {
		width: 90%;
		justify-content: space-evenly;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// flex-wrap: nowrap;
		h4 {
			// width: 100%;
			// padding-bottom: 1.5;
			// margin-bottom: 1.5rem;
			font-family: typography.$font-headings;
		}
	}

	.game-card-table--image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10%;

		img {
			width: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}

.gameinfo--container {
	@media (min-width: responsive.$screen-medium) {
		width: 90%;
	}
	width: 100%;
	margin: 0 auto;
	margin-top: 2rem;

	.gameinfo--header {
		@media (min-width: responsive.$screen-medium) {
			flex-direction: row;
		}
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;

		.gameinfo--cover-img {
			@media (min-width: responsive.$screen-large) {
				width: 30%;
			}
			@media (min-width: responsive.$screen-medium) {
				width: 40%;
			}
			width: 70%;
		}
		img {
			border-left: 3px solid colors.$primary-blue;
			border-bottom: 3px solid colors.$primary-blue;
			margin-bottom: 1rem;
			max-width: 100%;
			max-height: 100%;
			display: block;
		}

		.gameinfo--data {
			@media (min-width: responsive.$screen-large) {
				width: 70%;
			}
			@media (min-width: responsive.$screen-medium) {
				width: 60%;
			}
			padding: 0.5rem;
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	.gameinfo--date {
		margin: 0;
		padding: 0;
		@include typography.description-text();
		color: colors.$primary-yellow;
	}
	.gameinfo--tags {
		@media (min-width: responsive.$screen-large) {
			justify-content: space-between;
		}
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		gap: 1rem;
		margin-top: 3rem;
	}
	.header--divider {
		width: 100%;
	}

	.col {
		@media (min-width: responsive.$screen-large) {
			width: 30%;
		}
		padding: 1rem 0rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		.button--small {
			padding: 1;
		}

		.button--plus {
			cursor: default;
			font-weight: bold;
			color: colors.$primary-white !important;
			background-color: colors.$primary-red;
		}

		p {
			margin-top: 0;
		}

		.row {
			@media (min-width: responsive.$screen-large) {
				@include typography.small-text();
			}
			font-size: 0.7rem;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
	}
}
