// gamecard
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.game-feed {
	padding-top: 2rem;
	display: flex;
	// gap: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;

	// @media (min-width: responsive.$screen-large) {
	// 	width: 100%;
	// }

	.game-card {
		width: 15%;
		padding: 0;
		gap: 0.5rem;
		// padding-bottom: 1rem;
		// margin-bottom: 3rem;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.game-card--image {
			width: 100%;
			height: auto;
			// display: flex;
			display: block;
			justify-content: center;
			align-items: center;
		}

		.game-card--title {
			width: 65%;
			padding-left: 1rem;
		}
	}
}

.game-card {
	@media (min-width: responsive.$screen-large) {
		// width: 25%;
	}
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	// background-color: colors.$secondary-blue;
	margin-bottom: 1rem;
	padding: 0;
	gap: 2rem;
	// border: 2px solid colors.$primary-yellow;
	// border-radius: 20px 20px 20px 20px;

	.button--small {
		text-align: left;
		justify-content: left;
	}

	.game-card--title {
		width: 70%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
		h4 {
			// width: 100%;
			// padding-bottom: 1.5;
			// margin-bottom: 1.5rem;
			font-family: typography.$font-text;
		}
	}

	.game-card--image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1rem;
		// text-align: center;
		// height: 13rem;
		width: 20%;

		img {
			width: 100%;
			// margin: 1rem 2rem 1rem 2rem;
			// border: 2px solid colors.$primary-grey;
			max-height: 100%;
			max-width: 100%;
			// display: block;
			// width: 100%;
		}
	}
}
