// listcard
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.list-card {
	@include typography.description-text;
	border: 1px solid colors.$primary-yellow;
	padding: 0rem 1rem 1rem 2rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
}

.star-favorite {
	font-size: 1rem;
	color: colors.$primary-white;
	padding-top: 1rem;
	padding-left: 0.7rem;

	&:hover {
		cursor: pointer;
		color: colors.$primary-yellow;
	}
	&:active {
		color: colors.$primary-yellow;
	}
	&:after {
		color: colors.$primary-yellow;
	}
}

.favorited {
	color: colors.$primary-yellow;

	&:hover {
		color: colors.$primary-red;
	}
}

.user-actions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;

	.star-rating {
		display: flex;
		width: 100%;
		padding-right: 0.5rem;
	}

	.button--plus {
		font-size: 0.7rem;
	}
}

.cross--container {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	.cross {
		font-size: 1rem;
		cursor: pointer;

		&:hover {
			color: colors.$primary-red;
		}
	}
}

.heading--container {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
