// listcard
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.list-card {
	@include typography.description-text;
	border: 1px solid colors.$primary-yellow;
	padding: 0rem 1rem 1rem 2rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.cross--container {
		padding-top: 1rem;
		.cross {
			font-size: 1rem;
			cursor: pointer;

			&:hover {
				color: colors.$primary-red;
			}
		}
	}
}

.heading--container {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
