// navigation
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

#navigation {
	color: colors.$primary-white;
	background-color: colors.$primary-black;
	position: absolute;
	z-index: 999;
	top: 0;
	border: 2px solid colors.$primary-yellow;
	font-family: typography.$font-headings;
	font-weight: 700;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.heading--yellow {
		color: colors.$primary-red !important;
	}

	#nav-links {
		@media (min-width: responsive.$screen-large) {
			width: 15%;
		}

		width: 20%;
		gap: 2rem;
		justify-content: center;
		list-style-type: none;
		display: flex;

		li:hover {
			color: colors.$primary-blue;
		}
	}

	form {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
