// navigation
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

#navigation {
	color: colors.$primary-white;
	background-color: colors.$primary-black;
	position: absolute;
	z-index: 999;
	top: 0;
	border: 2px solid colors.$primary-yellow;
	font-family: typography.$font-headings;
	font-weight: 700;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	justify-self: flex-start;
	align-items: center;

	h4 {
		a {
			font-family: typography.$font-headings;
			font-weight: bold;
		}
	}

	@media (min-width: responsive.$screen-large) {
		h4 {
			font-size: 1.5rem;
			padding: 0;
			margin: 1.2rem;
			margin-left: 0;
		}
	}

	form {
		width: 60%;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width: responsive.$screen-large) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			margin: 0 auto;
		}
	}
}
