// sidebar
@use '../variables/colors';
@use '../general/typography';
@use '../variables/responsive';

.sidebar {
	@media (min-width: responsive.$screen-large) {
		width: 15rem;
	}
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem;
	padding-top: 4rem;
	flex-direction: column;
	border: 2px solid colors.$primary-blue;
	height: 91vh;
	width: 20%;
}

.sidebar--profile {
	align-items: center;
}

.img--avatar {
	display: block;
	// min-height: 100%;
	// max-width: 100%;
}

.avatar {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}
