@use './general/typography';

@use './variables/colors';
@use './variables/responsive' as *;

@use './components/button';
@use './components/feed';
@use './components/login';
// @use './components/checkbox';
@use './components/inputbox';
@use './components/navigation';
@use './components/gamecard';
@use './components/sidebar';
@use './components/listcard';
@use './components/loadingspinner';
// @use './components/hero';
// @use './components/footer';
// @use './components/contactform';

html,
body {
	color: colors.$primary-white;
	background-color: colors.$primary-black;
	padding: 0;
	margin: 0 auto;
}

#container {
	position: relative;
	min-height: 100vh;
}

main {
	padding-bottom: 25rem;
}

* {
	box-sizing: border-box;
}

a {
	font-family: typography.$font-text;
	color: inherit;
	text-decoration: none;
}

#dev-background {
	background-color: rgb(229, 229, 229);
}
