@use './general/typography';

@use './variables/colors';
@use './variables/responsive' as *;

@use './components/button';
@use './components/feed';
@use './components/login';
@use './components/checkbox';
@use './components/form';
@use './components/navigation';
@use './components/gamecard';
@use './components/sidebar';
@use './components/listcard';
@use './components/loadingspinner';
@use './components/dropdown';
@use './components/profile';
@use './components/reviews';
@use './components/comment';
@use './components/searchpage';
@use './components/pagination';
@use './components/browse';

html,
body {
	color: colors.$primary-white;
	background-color: colors.$primary-black;
	padding: 0;
	margin: 0 auto;
}

#container {
	position: relative;
	min-height: 100vh;
}

main {
	padding-bottom: 25rem;
}

* {
	box-sizing: border-box;
}

.heading--red {
	color: colors.$primary-red !important;
}

#dev-background {
	background-color: rgb(229, 229, 229);
}
